<%- include('partials/header.ejs') %>

<main>
  <div class="container">
    <% if (locals.content) { %>
    <div class="content-list">
      <% for (let news=0; news < content.events.length; news++) { %>
      <div class="content">
        <a
          class="content-link"
          href="<%= content.events[news].wikipedia[0]?.wikipedia %>"
        >
          <h2 class="title"><%= content.events[news].wikipedia[0]?.title %></h2>
        </a>
        <p class="desc"><%= content.events[news].description %></p>
        <p class="meta-data">
          <span class="year">Year: <%= content.events[news].year %></span>
        </p>
      </div>
      <hr />
      <% } %>
    </div>
    <% } %> <% if (locals.error) { %>
    <div class="error-container">
      <p><%= error %></p>
    </div>
    <% } %>
  </div>
</main>

<%- include('partials/footer.ejs') %>
